* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
    height: 100vh;
    display: flex;
    font-family: 'Arial', sans-serif;
}
.main-container{
    display: flex;
    width: 100%;
}
.form-container{
    width: 25%;
    flex-direction: column;
    align-items: center;
    background-color:rgb(37, 37, 37);
    padding: 30px;

}
h2{
    font-size: 32px;
    text-align: center;
    color: rgb(0, 191, 185);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);

}
p{
    font-size: 16px;
    color:rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 40px;

}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    
}

#pdfFile{
    display: none;
}
.upload-label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:rgb(37, 37, 37);
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    border: solid rgb(0, 191, 185) 3px;
    cursor: pointer;
    color:rgb(0, 191, 185);
   
  }
.upload-label:hover{
    background-color: rgb(59, 59, 59);
    transform: scale(1.05);
}
span{
    color: white;
}

button{
    justify-content: center;
    align-items: center;
    background-color:rgb(37, 37, 37);
    height: 50px;
    border-radius: 4px;
    font-size: 20px;
    font-weight: 700;
    border: solid rgb(0, 191, 185) 3px;
    cursor: pointer;
    color:rgb(0, 191, 185);
    margin-top: 40px;

}
button:hover{
    background-color: rgb(59, 59, 59);
    transform: scale(1.05);
}
.output-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);

}
.output {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 500px;
    overflow-y: auto;
    padding: 20px;
    background-color: rgb(37, 37, 37);
    color: white;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    border: dashed;
    font: 24px;
    font-weight: 500;
    line-height: 1.8;
    word-spacing: 3px;
   
}
.pdfFile-drop-label{
    font-size:24px;
    color: white;
    font-weight: 600;
    
}

@media (max-width: 600px){
    body{
        flex-direction: column;
        overflow-y: scroll;
        background-color: rgb(40, 40, 40);
    }
    .main-container {
    flex-direction: column;
    }

  .form-container {
    width: 100%;
    padding: 20px;
    align-items: stretch;
  }
  .output-container {
    width: 100%;
    padding: 5px;
  }

  .output {
    width: 100%;
    height: 300px; 
    font-size: 18px;
    border-radius: 15px;
    padding: 15px;
  }
  #pdfFile-drop,
.pdfFile-drop-label {
  display: none;
}
}