<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Upload a PDF</h2>
    <form id="form" action="/uploads"  enctype="multipart/form-data">
    <input type="file" name="file" id="pdfFile" accept="application/pdf">
    <button type="submit">Summarize</button>
    </form>
    <div id="output"></div>
    <div id="error"></div>
  </body>
  <script src="{{ url_for('static', filename='script.js') }}"></script>


</html>